/*
*Name: Kristopher Stocks
 *UnityID: kastocks
 *Date: 4/9/2025
 *Assignment: Guided lab 4
 *Description: Guided lab assignment, about me page
 */

 p {
    font-family: Times;
    font-size: 16px;
    color: #DECAFF;
}

.table-border {
    border: 1px solid #DECAFF;
 }

#photo-resize {
max-width: 250px;
max-height: 300px;
}

